:root {
    --blue-100: #033155;
    --blue-60: #033155;
    --blue-50: #0d4468;
    --blue-30: #195175;
    --blue-20: #2e749b;
    --blue-10: #bbd0e4;

    --white-100: #ffffff;
    --white-50: #eff0f9;
    --white-30: #d7dde2;
    --white-20: #d9e5ee;

    --pink-50: #c34c64;

    --grey-50: #302d36;
    --grey-30: #555555;
    --grey-20: #66666e;
}