.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: start;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    h2 {
        text-align: center;
    }

    .topic-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .topic {
            width: 49%;

            @media (max-width: 1440px) {
                width: 100%;
            }

            @media (max-width: 768px) {
                img {
                    width: 150px;
                }
            }
        }
    }

    .recommendations {
        width: 600px;
        border-left: 1px solid var(--grey-20);
        padding-left: 20px;

        @media (max-width: 1024px) {
            width: 400px;
            
            .topic img {
                width: 100px;
            }
        }

        @media (max-width: 768px) {
            width: 100%;
            border-left: 0;
        }
    }

    // .card {
    //     width: 250px;
    //     height: 350px;
    
    //     background-color: var(--white-50);
    //     box-shadow: 10px 5px 5px var(--blue-20);
    //     border-radius: 20px;
    
    //     &__header {
    //         background: linear-gradient(70deg, var(--blue-50), var(--blue-30), var(--blue-100));
    //         width: 100%;
    //         height: 40px;
    //         border-top-left-radius: 20px;
    //         border-top-right-radius: 20px;
    
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;

    //         span {
    //             font-size: 16px;
    //             color: var(--white-50);
    //             text-transform: capitalize;
    //             cursor: pointer;

    //             &:hover {
    //                 color: var(--white-30);
    //             }
    //         }
    //     }
    
    //     &__author {
    //         width: 100%;
    //         height: 20px;
    //         display: flex;
    //         align-items: center;
    //         padding: 0 10px;
    
    //         &__text {
    //             padding: 1px 10px 0;
    //             text-align: center;
    //             width: 100%;
    //             height: 100%;
    //             margin: 0 10px;
    //             font-size: 12px;
    //             white-space: nowrap;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //             border-left: 1px solid var(--blue-100);
    //             border-right: 1px solid var(--blue-100);
    //         }
    
    //         img {
    //             width: 15px;
    //         }
    //     }
    
    //     &__image {
    //         width: 100%;
    //         height: 150px;
    
    //         img {
    //             width: 100%;
    //             height: 100%;
    //             cursor: pointer;
    //         }
    //     }
    
    //     &__body {
    //         width: 100%;
    //         height: 120px;
    //         padding: 4px 16px;
    //         overflow: hidden;
    
    //         &__headline {
    //             font-size: 16px;
    //             white-space: nowrap;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
                
    //             &:hover {
    //                 cursor: pointer;
    //                 color: var(--blue-20);
    //             }
    //         }
    
    //         &__teaser {
    //             font-size: 12px;
                
    //             display: -webkit-box;
    //             -webkit-line-clamp: 5;
    //             -webkit-box-orient: vertical;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //         }
    //     }

    //     &__body_no_img {
    //         height: 270px;
    //         padding: 4px 16px;
    //         overflow: hidden;
    //         border-top: 1px solid var(--blue-100);

    //         &__headline {
    //             font-size: 20px;
    //             white-space: nowrap;
    //             overflow: hidden;
    //             text-overflow: ellipsis;

    //             &:hover {
    //                 cursor: pointer;
    //                 color: var(--blue-20);
    //             }
    //         }

    //         &__teaser {
    //             font-size: 12px;
                
    //             display: -webkit-box;
    //             -webkit-line-clamp: 14;
    //             -webkit-box-orient: vertical;
    //             overflow: hidden;
    //             text-overflow: ellipsis;
    //         }
    //     }
    
    //     &__footer {
    //         height: 20px;
    //         background: linear-gradient(70deg, var(--blue-50), var(--blue-30), var(--blue-100));
    //         border-bottom-left-radius: 20px;
    //         border-bottom-right-radius: 20px;
    //         font-size: 12px;
    //         color: var(--white-50);
    //         display: flex;
    //         justify-content: end;
    //         align-items: center;
    //         padding-right: 16px;
    //     }
    // }
}

.topic {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey-20);

    &__main {
        display: flex;
        flex-direction: column;
        
        &__header {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                color: var(--grey-20);
            }
        }
        
        &__title {
            font-size: 16px;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                color: var(--blue-20);
            }
        }

        &__description {
            font-size: 14px;
            color: var(--grey-20);
            margin-bottom: 10px;
        }

        &__footer {
            color: var(--grey-20);
            font-size: 12px;
            text-transform: capitalize;
            display: flex;
            gap: 20px;
        }
    }

    &__img {
        img {
            width: 200px;
            cursor: pointer;
        }
    }
}
