.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    .topic {
        width: 900px;
        margin: auto;
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
        }

        &__headline {
            font-size: 50px;
            margin-bottom: 20px;

            @media (max-width: 1024px) {
                font-size: 36px;
            }
        }

        &__description {
            font-size: 20px;
            margin-bottom: 30px;
        }

        &__author {
            text-transform: capitalize;
            font-size: 14px;
        }

        &__date {
            text-transform: capitalize;
            font-size: 12px;
        }

        &__image {
            width: 100%;
            margin: 30px 0;

            img {
                width: 100%;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .recommendations {
        width: 600px;

        @media (max-width: 1024px) {
            width: 400px;
        }

        @media (max-width: 900px) {
            width: 300px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        .topic {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            margin: auto;
            gap: 20px;
            padding: 10px;
            border-bottom: 1px solid var(--grey-20);

            &__main {
                display: flex;
                flex-direction: column;
                
                &__header {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    cursor: pointer;
    
                    &:hover {
                        color: var(--grey-20);
                    }
                }
                
                &__title {
                    font-size: 16px;
                    margin-bottom: 10px;
                    cursor: pointer;
    
                    &:hover {
                        color: var(--blue-20);
                    }
                }
    
                &__description {
                    font-size: 14px;
                    color: var(--grey-20);
                    margin-bottom: 10px;
                }
    
                &__footer {
                    color: var(--grey-20);
                    font-size: 12px;
                    text-transform: capitalize;
                    display: flex;
                    gap: 20px;
                }
            }
    
            &__img {
                img {
                    width: 200px;
                    cursor: pointer;
                    
                    @media (max-width: 1024px) {
                        width: 150px;
                    }

                    @media (max-width: 900px) {
                        width: 100px;
                    }
                }
            }
        }
    }
}