.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .navigation {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 700px;
        gap: 20px;
        margin-bottom: 40px;

        @media (max-width: 1024px) {
            width: 100%;
        }

        &__category {
            cursor: pointer;
            text-transform: capitalize;
            width: fit-content;
            margin: auto;

            &:hover {
                color: var(--blue-20);
            }
        }

        &__subcategory__list {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin: auto;
            text-transform: capitalize;

            &__item {
                cursor: pointer;

                &:hover {
                    color: var(--blue-20);
                }

                &.active {
                    border-bottom: 2px solid var(--pink-50);
                }
            }
        }
    }

    .topic {
        display: flex;
        width: 700px;
        justify-content: space-between;
        margin: auto;
        gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--grey-20);

        @media (max-width: 1024px) {
            width: 100%;
        }

        &__main {
            display: flex;
            flex-direction: column;
            
            &__header {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    color: var(--grey-20);
                }
            }
            
            &__title {
                font-size: 16px;
                margin-bottom: 10px;
                cursor: pointer;

                &:hover {
                    color: var(--blue-20);
                }
            }

            &__description {
                font-size: 14px;
                color: var(--grey-20);
                margin-bottom: 10px;
            }

            &__footer {
                color: var(--grey-20);
                font-size: 12px;
                text-transform: capitalize;
                display: flex;
                gap: 20px;
            }
        }

        &__img {
            img {
                width: 200px;
                cursor: pointer;

                @media (max-width: 570px) {
                    width: 150px;
                }
            }
        }
    }
}