.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        display: flex;
        flex-direction: column;
        background-color: var(--white-100);
        gap: 12px;
        width: 400px;
        border-radius: 20px;
        padding: 12px;
        box-shadow: 10px 5px 5px var(--grey-20);

        &__header {
            text-align: center;
            font-size: 20px;
            color: var(--blue-20);
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__field {
                display: flex;
                flex-direction: column;

                label {
                    color: var(--blue-20);
                    font-size: 10px;
                }

                input {
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid var(--blue-20);
                    outline: none;
                    padding: 4px 0;
                }
            }

            &__error {
                font-size: 14px;
                color: var(--pink-50);
            }
        }

        &__footer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;

            button {
                width: 100%;

                &:disabled {
                    cursor: not-allowed;
                }
            }

            .switch-form {
                font-size: 12px;
                display: flex;
                gap: 4px;

                .link {
                    color: var(--blue-20);
                    cursor: pointer;

                    &:hover {
                        color: var(--blue-60);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}