@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // font-family: Comic Sans MS, Comic Sans, cursive;
}

body {
    background-color: var(--white-20);
}

::-webkit-scrollbar {
    width: 6px;
}
        
::-webkit-scrollbar-track {
    background: var(--white-20);
}

::-webkit-scrollbar-thumb {
    background: var(--blue-30);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-30);
}

button {
    background-color: var(--blue-30);
    border: 1px solid var(--blue-30);
    border-radius: 10px;
    padding: 10px;
    color: var(--white-50);
    cursor: pointer;

    &:hover {
        color: var(--white-20);
    }

    &:active {
        border: 1px solid var(--blue-100);
    }
}